[mysqld]
# 基本设置
user = mysql
port = 3306
bind-address = 0.0.0.0  # 允许所有主机连接（默认是 127.0.0.1，仅允许本地连接）

# 数据存储路径
datadir = /var/lib/mysql

# 日志设置
log-error = //logs/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2  # 超过 2 秒的查询会被记录为慢查询
